/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

#highlight_0, #highlight_1, #highlight_2, #highlight_3, #highlight_4, #highlight_5, #highlight_6, #highlight_7, #highlight_8, #highlight_9{
	position:absolute !important;
	left:-32px !important;
	top:1.5px !important;
	}
	
#ID_s3_txt01, #ID_s3_txt02, #ID_s3_txt03, #ID_s3_txt04, #ID_s3_txt05, #ID_s3_txt06, #ID_s3_txt07, #ID_s3_txt08, #ID_s3_txt09, #ID_s3_txt10{
	color:#393536 !important;
	}

.select-wrapper{
	border-radius:5px !important;
	}
	
.alignment{
	margin-left:14px !important;
	}
	
.alignment1{
	margin-left:22px !important;
	}
	
