/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');
#ID_trans02{
	left:-5px !important;
	width:177px !important;
	height:40px !important;
	top:10px !important
}
#ID_trans01,#ID_trans03,#ID_trans04,#ID_trans05,#ID_trans06,#ID_trans07,#ID_trans08,#ID_trans09,#ID_trans10,#ID_trans11{
	height:30px !important;
	top:5px !important
}