
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

.mtable tr td {
    border: 2px solid #386B33 !important;
}

.mtable {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border-radius: 0px !important;
}