
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

@media only screen and (device-width: 768px) {

	#ID_s5_titleTxt01 {
		width:180px !important;
		letter-spacing: -0.8px !important;
	}
}