/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');


#flashContent {
  width: 470px;
  height: 400px;
  margin: auto;
}


#flashContent {
	width:98%;
	height:98%;
}

#ID_txt17{
    border:2px solid #F68026;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding:2px 0 3px 3px;
    background:#FDE6D4;
}

#ID_txt11{letter-spacing:-0.3px !important;}
#ID_txt19,#ID_txt20,#ID_txt21{letter-spacing:-0.4px !important;}