/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

#ID_s1_txt10{
	  text-shadow: 1px 0px 0px #ffffff , 0px 2px 0px #ffffff, 2px 0px 0px #ffffff, 
  0px -1px 0px #ffffff, 1px 4px 5px #ffffff;
}